body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  flex-grow: 1;
  padding-top: 60px;
  overflow-y: auto;
}

.markdown-editor-component {
  height: 100%;
}

.markdown-editor-navbar {
  text-align: center;
  height: 5%;
}

.markdown-editor-container {
  display: flex;
  flex-direction: row;
  height: 95%;
}

.markdown-editor, .markdown-renderer {
  /* padding: 0 1em; => managed in useMarkdownEditor hook */
  /* width: 50%; => width & display: none is managed in useMarkdownEditor hook */
  height: 100%;
  overflow-y: auto;
}

pre,
code {
  overflow: auto;
}

footer {
  padding-top: 1em;
}